.comment-section, .comment-display{
	max-width: 800px;
	margin: auto;
	padding: 20px;
	background-color: white;
	text-align: left;
}
.commentForm {
	text-align: left;
}
.comment-section .commentArea{
	width: 100%;
	height: 100px;
	resize: none;
	padding: 5px;
}
#commentButton {
	width: 150px;
	height: 50px;
}
hr {
	margin: 10px auto;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.dark {
	font-weight: 900;
}
.gray {
	color: #555;
	float: right;
}