.br{
	height: 5px;
}
.heading {
	color: #0d1a26;
	padding: 50px;
	background-color: #ecf2f9;
	text-align: center;
}
.heading h1 {
	font-size: 40px;
}
.heading p {
	font-size: 25px;
}
.news {
	background-color: #fff;
}
.content td{
	padding: 10px;
}
.content a:not(.goto){
	text-decoration: none;
	color: #00f;
}
.content a:not(.goto):hover{
	text-decoration: underline;
}
.slideshow{
	background-color:#fff;
	margin: auto;
}
.slideshow-container {
	width: 80%;
	max-width: 700px;
	margin: auto;
	border: 1px solid #333;
	padding: 2px;
}
.slides{
	width: 100%;
	height: auto;
}
.goto{
	border: 1px solid #aaa;
	border-radius:4px;
	font-size: 20px;
	text-align: center;
	display: block;
	margin: auto;
	width: 150px;
	padding: 10px;
	text-decoration: none;
	background: linear-gradient(#fff,#aaa);
	color: #333;
	transition: 1s ease;	
}
.goto:hover {
	color:white;
	background: linear-gradient(#aaa,#333);
}
.gallery {
	background-color: white;
	padding: 20px;
	color: #333;
}
.gallery-container {
	width: 80%;
	max-width: 700px;
	margin: auto;
}