.heading {
	color: #0d1a26;
	padding: 50px;
	background-color: #ecf2f9;
	text-align: center;
}
.heading h1 {
	font-size: 40px;
}
.heading p {
	font-size: 25px;
}
.slideheading{
	background-color: #eee;
	color: #555;
	font-size: 20px;
	margin: 0px;
	padding: 20px;
	text-align: center;
}